body{
overflow-x: hidden;
padding: 0;
margin: 0;
font-family: AvenirNext!important;
}


/*  main header section */
.hero-img{
background-blend-mode: normal, multiply, soft-light, multiply;
background-image: linear-gradient(rgba(166, 25, 46, 0.7), rgba(166, 25, 46, 0.7)), linear-gradient(to bottom, #9f041b, #9f041b), url("../assets/images/Teambio/mainheader.png");
background-repeat: no-repeat;
background-size: 100% 125%;
background-position: center;
padding-bottom: 75px;
}

.hero-row-1 {
display: flex;
flex-direction: row;
justify-content: space-around; }
@font-face {
font-family: AvenirNext;
src: url("../fonts/AvenirNextLTPro-Regular.otf"); }


/*menu start*/
.custom-container{
width:1300px!important;
margin: 0 auto;
}
.header-area{
position: relative;
padding-right: 0px;
padding-left: 0px;
margin-top:41px !important;
height: 200px;
}
.hero-img .logo-container{
padding:0px;
margin:0px;

}
.hero-img .logo-one{
padding-left: 25px;
position: relative;
top: 3px;
}
.hero-img .logo-one ul{
list-style-type: none;
padding-left:8px;
padding-top:40px;
padding-bottom:95px;
}
.hero-img .logo-one li a{
text-decoration: none;
opacity: 0.9;
font-size: 16px;
font-weight: 600;
font-style: normal;
font-stretch: normal;
line-height: 2.15;
letter-spacing: 0.8px;
text-align: left;
color: #ffffff;
font-family: AvenirNext;
}
.hero-img .text-container{
padding:0px;
margin: -53px 252px;
}
.hero-img .text-container h4{
opacity: 0.6;
font-family: AvenirNext;
font-size: 43px;
font-weight: normal;
font-style: normal;
font-stretch: normal;
line-height: 0.8;
letter-spacing: 42px;
color: #ffffff;
text-align:right;
padding-right:36px;
margin-top: 7px;
}

.txt-area{

height: auto;
display: flex;
flex-direction: column;
margin:0 auto;
}
.text-right1{
opacity: 0.66;
mix-blend-mode: multiply;
font-family: AvenirNext;
font-size: 119px;
line-height: 0.28;
letter-spacing: -6px;
color: #a6192e;
padding-top: 56px;
padding-left: 9px;
}
.larger-text{
margin-top: 360px;
margin-left: 44px;
font-size: 60px;
font-family: AvenirNext;
line-height: 1.13;
letter-spacing: -1px;
text-align: left;
color: #fc0606;
}
.headerlogo1 {
padding-top: 54px;
margin-right: -23px;
opacity: 0.6;
font-family: AvenirNext;
font-size: 41px;
line-height: 0.8;
letter-spacing: 44px;
color: #ffffff;
}

/*  header section end */


/* menu div button */
.menudiv {
background-color: #fc0606;
height: 57px;
}

.menudiv i {
height: 37px;
width: 37px;
border-radius: 50%;
background-color: #fc0606;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
color: white;
font-size: 30px;
margin-top: 12px;
padding-top: 2px;
padding-right: 1px;
margin-right: 22px;
}
.menudiv .style1 {
background-color: #AC0202;
margin-bottom: 1px;
width: 100px;
height: 63px;
float: right; }

.menudiv .style {
background-color: #AC0202;
margin-bottom: 1px;
height: 55px;
font-family: AvenirNext;
border-bottom-right-radius: 6px;
border-top-right-radius: 6px;
cursor: pointer;
display: flex;
justify-content: flex-end;
align-items: center;
margin-top: 1px;
width: 195px;
padding-right: 1px;
padding-bottom: 3px;
margin-left: -25px;
}
.menudiv span {
letter-spacing: 3px;
color: #fc0606;
padding-left: 0px;
margin-top: 1rem !important;
}

.menudiv p {
width: 149px;
display: flex;
flex-direction: row;
justify-content: flex-end;
align-items: center;
font-family: AvenirNext;
color: black;
cursor: pointer;
margin-right: 21px;
}
/* menu div button  */



/*===== Customer support team Start =====*/
.article-area {
background-color: #54585a;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
margin:0 auto; }
.article-container{
width: 1349px;
height: auto;
background-color: #54585a;
margin:0 auto;
padding-top: 20px;
}

.back-to-previous i {
height: 39px;
width: 39px;
border-radius: 50%;
font-size: 20px;
background-color: #fc0606;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
color: white;
cursor: pointer;
padding-right: 3px; }

.article-area strong {
cursor: pointer;
letter-spacing: 1.3px;
}

.back-to-previous p{
display: flex;
font-family: AvenirNext;
flex-direction: row;
justify-content: flex-start;
align-items: center;
color: #fff;
font-size: 10px;
padding-left: 0px;
}
.article-area .back-to-previous {
margin-top: 72px;
}
.customer-support-one{
background-color: #54585a;
}
.customer-support{
background-color: #54585a;
width: 1349px;
height: 100%;
margin: 0 auto;
}
.customer-support .top-content{
margin:71px 0px 45px 29px;
}
.customer-support .top-content h1{
font-family: AvenirNext;
font-size: 39px;
font-weight: normal;
font-style: normal;
font-stretch: normal;
line-height: normal;
letter-spacing: normal;
text-align: left;
color: #ffffff;
}
.customer-support .outer-container{
position: relative;
padding: 15px;

margin-bottom: 26px;
}
.customer-support .outer-container:nth-child(4){
position: relative;
width: 367px;
height: 346px;
display: inline;
margin-left: 85px;
}
.row-area{


}
.customer-support .hovering-area{
width: 367px;
height: 346px;
position: absolute;
top: 15px;
left: 14px;
bottom: 0;
right: 0;

display: none;
background-image: url(../assets/images/dpimage.png);
}
.customer-support .outer-container:hover .hovering-area{
display: block;
opacity:1;
}
.customer-support .outer-container:hover {
display: inline;
opacity:1!important;
}

hr{
margin-top: 20px!important;
margin-bottom: 20px!important;
border: 0!important;
border-top: 1px solid #a9a9a9!important;
}
.customer-support .hoverd-images img:hover{
opacity: 1;
}
.customer-support .hoverd-images img{
opacity: 0.4;
}
.hovering-area hr{
margin-top: 15px!important;
margin-bottom: 15px!important;
border: 0!important;
border-top: 1px solid black!important;
width: 300px;

}
.customer-support .hovering-area p:first-child{
width: 305px;
height: 27px;
font-family: AvenirNext;
font-size: 20px;
font-weight: normal;
font-style: normal;
font-stretch: normal;
line-height: normal;
letter-spacing: normal;
text-align: left;
color: #ffffff;
margin-top: 176px;
padding-left: 34px;
}
.customer-support .hovering-area p.second-paragraph{
width: 310px;
height: 34px;
font-family: AvenirNext;
font-size: 16px;
font-weight: normal;
font-style: normal;
font-stretch: normal;
line-height: 1.63;
letter-spacing: normal;
text-align: left;
color: #fc0606;
padding-left: 34px;
}
.customer-support .hovering-area p:last-child{
width: 341px;
height: 34px;
display: flex;
justify-content: flex-end;
padding-right: 2px;
padding-top: 29px;

}


.customer-support .hovering-area p:last-child  i{
width: 7.4px;
height: 14px;
color: white;
}

.customer-support .hoverd-images{
margin: 0 auto;
padding: 0 0 200px 43px;
}


.customer-support .top-content p{
font-family: AvenirNext;
font-size: 24px;
font-weight: normal;
font-style: normal;
font-stretch: normal;
line-height: normal;
letter-spacing: normal;
text-align: left;
color: #fc0606;
}

/*===== Customer support team - End =====*/


/*===== Quotation - Start =====*/
.qoutation{
background-color: #4B4A4C;
display: flex;
flex-direction: column;
justify-content: center;

}
.qoutation .qoutation-inside{
width: 1349px;
margin: 0 auto;
padding-left: 2px;
}
.qoutation .qoutation-inside .qoutation-inside-qoute{
padding-top: 90px;
}
.qoutation .qoutation-inside .qoutation-inside-qoute p{
transform: rotate(-360deg);
font-family: AvenirNext;
font-size: 61px;
font-weight: 100;
font-style: normal;
font-stretch: normal;
line-height: 1.13;
letter-spacing: -1.1px;
text-align: left;
color: #c7c9c7;
padding-bottom: 50px;
padding-left:13px;
padding-right:58px;
}
.qoutation .qoutation-inside .qoutation-owner{
display: flex;
justify-content: flex-end;
padding-right: 70px;
}
.qoutation .qoutation-inside .qoutation-owner p{
font-family: AvenirNext;
font-size: 27px;
font-weight: 900;
font-style: normal;
font-stretch: normal;
line-height: 1.21;
letter-spacing: -0.6px;
text-align: left;
color: #54585a;
}
.qoutation .qoutation-inside .qoutation-owner p span{
color: #fc0606;
}
/*   Quotation - End  */

/*  page boarbio start */
.board-bio{
background-blend-mode: normal, multiply, soft-light, multiply;
background-image: linear-gradient(rgba(166, 25, 46, 0.7), rgba(166, 25, 46, 0.7)), linear-gradient(to bottom, #9f041b, #9f041b), url("../assets/images/boardbios/mainheader.png");
background-repeat: no-repeat;
background-size: cover;
padding-bottom: 75px;
}
/* page boardbio end */





/*  page biodetail start */
.bio-detail{
background-blend-mode: normal, multiply, soft-light, multiply;
background-image: linear-gradient(rgba(166, 25, 46, 0.7), rgba(166, 25, 46, 0.7)), linear-gradient(to bottom, #9f041b, #9f041b), url("../assets/images/biodetail/mainheadder.png");
background-repeat: no-repeat;
background-size: cover;
padding-bottom: 75px;
}
.bio-bg-para{
background:#54585a;
}
.biodetail{
margin-top:224px;

}
.customer-support .list-detail{
font-family: AvenirNext;
font-size: 10px;
font-weight: 600;
font-style: normal;
font-stretch: normal;
line-height: 1.75;
letter-spacing: 0.2px;
text-align: left;
color: #c7c9c7;
text-decoration: none;
margin-top:38px;
padding-left:39px;

}
.customer-support .list-detail span:last-child{
margin-left:30px;
}
.customer-support .b-detail{
margin-top:12px;
}
.qoutation .qoutation-inside .bio-paragraph{


}
.qoutation .qoutation-inside .bio-paragraph p{
font-family: AvenirNext;
font-size: 22px;
font-weight: normal;
font-style: normal;
font-stretch: normal;
line-height: 2;
letter-spacing: -0.1px;
text-align: left;
color: #c7c9c7; 
padding:0px 89px 170px 50px;

}

.bioDetail-subsribe{
background:#ffffff !important;
padding-top:75px !important;
}
.footer-bio{
background-color:#F9F9F9 !important;
}


/*  page biodetail end */













/*subscribe section*/
.subscribe-section{
background-color: #4b4a4c;
padding-top:86px;
padding-bottom:74px;
}
.subscribe-section .subcribe-text {
padding-left: 42px!important;
padding-top: 42px;
}

.subscribe-section .subcribe-text p{
font-family: AvenirNext;
font-size: 34px;
font-weight: 500;
font-style: normal;
font-stretch: normal;
line-height: 1.21;
letter-spacing: -0.4px;
text-align: left;
color: #5a6775;
}
.subscribe-section .flexing-spans{
display: flex;
justify-content: space-between;
}
.subscribe-section .long-paragraph-p p{
font-family: AvenirNext;
font-size: 12px;
font-weight: normal;
font-style: normal;
font-stretch: normal;
line-height: 1.38;
letter-spacing: normal;
text-align: left;
color: #5a6775;
}
.subscribe-section .long-paragraph-p{
padding-left:101px;
padding-right:64px;
}
.subscribe-section .long-paragraph-p p:last-child{
padding-top: 17px;

}
.subscribe-section .hr-line{
padding-left:101px;
padding-right:38px;
}
.subscribe-section .hr-line hr{
margin: 9px;
margin-bottom: 28px;
margin-right: 11px;
border-top: 1px solid #c3c3c3;
}
.subscribe-section .flexing-spans span{
font-family: AvenirNext;
font-size: 14px;
font-weight: normal;
font-style: normal;
font-stretch: normal;
line-height: 1.31;
letter-spacing: 0.2px;
text-align: left;
color: #5a6775;
padding-left: 10px;
padding-right: 7px;
}
.subscribe-section .position-end{
display: flex;
justify-content: flex-end;
width: 1309px;
}
.subscribe-section .row{
margin-right: 0px!important;
margin-left: 0px!important;
}

.subscribe-section .section-left{
width: 1216px;
background-color: rgba(155, 155, 155, 0.06);
padding-bottom: 114px;


}
.subscribe-section .flexing-spans span:nth-child(2){
display:none;
}
.subscribe-section .flexing-spans span:nth-child(3){
display: none;
}
/* subcribe section end */




/* footer section */


.foot-area{
background-color: #504f51;
}
.main-container{
padding: 40px 100px;
}
.footer-area{
display: flex;
flex-direction: row;
flex-flow: wrap;
width: 1143px;
height: auto;
padding-right: 50px;
margin:0 auto;
padding-bottom: 45px;
}

.redcolor p{
font-weight: 600;
font-size: 12px;
letter-spacing: 0.5px;
}
.footer-area .list3 i{
padding: 53px 0px 0 10px;
width: 20px;
height: 16px;

}

.footer {
background-color: rgba(155, 155, 155, 0.06);
height: 100%; }

.redcolor {
color: #fc0606;
padding-bottom: 20px
}


.footer-menu {

}
.footer-menu p{
font-family: AvenirNext;
font-size: 12px;
font-weight: normal;
font-style: normal;
font-stretch: normal;
line-height: 2.15;
letter-spacing: normal;
text-align: left;
color: #5a6775;
margin-bottom: 2px;
}

.footer-paragraph p{
font-family: AvenirNext;
font-size: 13px;
font-weight: normal;
font-style: normal;
font-stretch: normal;
line-height: 2.15;
letter-spacing: normal;
text-align: left;
color: #5a6775;
padding-right:69px;
}
.footer-menu1 .text-bold{
font-weight: bold;
color: #5A6775;
}

.footer-menu-last p {
font-family: AvenirNext;
font-size: 10px;
font-weight: 500;
font-style: normal;
font-stretch: normal;
line-height: normal;
letter-spacing: 0.5px;
text-align: left;
color: #8e8e93;
padding-top: 3px;
}
.Copyright-area{
margin-top: 50px;
}
.Copyright-area .footer-menu-last{
width: 1000px;
display: flex;
flex-direction: row;
justify-content: space-between;
margin: auto;
padding-bottom: 103px;
}
.Copyright-area .footer-menu-last .terms{
display: flex;

}
.Copyright-area .reserved{
padding-left: 0px;

}
.Copyright-area .footer-menu-last .terms p{
font-size: 11px;
padding: 0 20px;
}
.socialicons {
font-size: 22px;
margin-left: 20px;
color: #fc0606;
}
.socialicon1 {
font-size: 22px;
color: #fc0606;
}
.icon-list{
margin-right: 20px;
}
/* footer area end */




@media (max-width: 479px) and (min-width: 320px) {
/* header start */
.hero-img{
width:100%;
background-size: cover;


}
.custom-container{
width: 100% !important;
}
.hero-img .logo-one img{
width: 88px;
height: 32px;
}
.hero-img .text-container h4{
font-size: 20px;
letter-spacing: 12px;
text-align: left;
width: 100%;
}
.hero-img .text-container {
padding: 0px;
margin: -29px 0px -29px 185px;
width: 0px !important;
}
.txt-area{
width: 100%;
}
.hero-img .logo-one{
margin-left: -23px;
}
.text-right1{
font-size: 50px;
margin-left: 0px;
}
.larger-text{
font-size: 20px;
margin-left: 0px;

}

/* header end */

/* article section start */
.back-to-previous i{
height: 30px;
width: 30px;
font-size: 15px;
padding-right: 4px;
}
.article-area strong{
font-size:14px;
}




/* article section end */

/* customer support team start */
.customer-support .top-content h1{
font-size:14px;
margin-top:0px;
}
.customer-support .top-content {
margin: 28px 0px 45px 0px;
padding-left:8px;
}
.customer-support .top-content p{
font-size:14px;
}
.customer-support .hoverd-images{
padding:0px;
}

.customer-support .list-detail{
font-size:14px;
padding-left:0px;
position: relative;
left:-8px;
}
.article-area .back-to-previous{
margin-top:36px;
padding-left:0px;
}
.customer-support .outer-container img{
width:265px;
}
.customer-support .hovering-area p:last-child{
width:auto;
}
.customer-support .hovering-area p:first-child{
margin-top: 150px;
padding-left: 16px;
}
.customer-support .hovering-area p.second-paragraph{
padding-left:16px;
}
.hovering-area hr{
width:100%;
}
.customer-support .hovering-area p:last-child i{
margin-right: 9px;
margin-top: -55px;
}
.hovering-area{
width:265px!important;
height: 248px!important;
}

/* customer support team end */

/* qoutation section start */
.qoutation{
width:100%;
}
.qoutation .qoutation-inside .qoutation-inside-qoute p{
font-size:14px;
padding:0px;
letter-spacing: 1.1px;
}
.qoutation .qoutation-inside .qoutation-owner p{
font-size:13px;
}
.qoutation .qoutation-inside .bio-paragraph p{
font-size:14px;
padding:10px;}
.qoutation .qoutation-inside .qoutation-inside-qoute{
  padding:20px 10px 10px 10px;
}
.qoutation .qoutation-inside .qoutation-owner{
  padding-right:0px;
}

/* qoutation section end */





/* footer start */
.empty-area{
width:auto;
height:auto;
}
.subscribe-section{
width:auto;
padding-top:0px;

}
.subscribe-section .custom-container{
width:auto !important;
}
.foot-area{
width:100%;
}
.subscribe-section .section-left{
width:auto;
height:auto;
padding-bottom:45px;
margin-top:38px;
}
.subscribe-section .position-end{
width:100%;
}
.subscribe-section .subcribe-text p{
font-size:25px;
text-align: center;
padding-right:34px;
}
.subscribe-section .flexing-spans span {
font-size:20px;
text-align: center;
border-bottom:1px solid #737272;
padding:0px 0px 27px 0px;
margin-top:30px;
}
.subscribe-section .hr-line{
padding-left:32px;
}
.subscribe-section .long-paragraph-p {
padding-left: 26px;
padding-right: 26px;
}
.subscribe-section .flexing-spans span:last-child{
border-bottom:none;
}
.subscribe-section .flexing-spans span:nth-child(1){
display: none;
}
.subscribe-section .flexing-spans span:nth-child(2){
display: block;
}
.subscribe-section .flexing-spans span:nth-child(3){
display: block;
}
.subscribe-section .flexing-spans {
flex-direction:column;
padding-left:-13px;

}
.subscribe-section .subcribe-text{
padding-left:8px;
}
.subscribe-section .long-paragraph-p p{
font-size:14px;
text-align: center;
padding:4px;
}

.foot-area{
height: auto;
}
.footer-area{
display: flex;
flex-direction: column-reverse;
width:100%;
}
.footer-area .list1{

}
.footer-paragraph p{
font-size: 14px;
}
.footer-menu p{
font-size: 14px;
}
.redcolor p{
font-size: 14px;
}
.footer-menu1 .text-bold{
font-size: 14px;
}
.socialicons{
font-size: 14px;
}
.socialicon1{
font-size: 14px;
}

.footer-menu-last p{
padding: 0px;
}
.list2{
display: flex;
flex-direction: column;
padding: 0px;

}
.redcolor {
color: #fc0606;
padding-bottom: 1px;
padding-top: 10px;
}
.list2 p{
font-size: 9px;
margin-left:-3px;
}
.main-container{
padding-left:20px;
padding-right:0px;
}
.footer-area .col-sm-2{
padding-left:0px;
}
.Copyright-area .footer-menu-last .terms p{
font-size: 9px;
padding:0px 10px;
}
.Copyright-area .reserved{
padding-left: 0px;

}
.Copyright-area .footer-menu-last{
flex-direction: column;
}
.Copyright-area .footer-menu-last{
width:100%;
}

}

@media (max-width: 684px) and (min-width: 568px) {
/* header start */
.hero-img{
width:100%;
background-size: cover;
}
.custom-container{
width: 100% !important;
}
.hero-img .logo-one img{
width: 88px;
height: 32px;
}
.hero-img .text-container h4{
font-size: 20px;
letter-spacing: 12px;
text-align: left;
width: 100%;
}
.hero-img .text-container {
padding: 0px;
margin: -29px 0px -29px 185px;
width: 0px !important;
}
.txt-area{
width: 100%;
}
.hero-img .logo-one{
margin-left: -23px;
}
.text-right1{
font-size: 50px;
margin-left: 0px;
}
.larger-text{
font-size: 20px;
margin-left: 0px;

}

/* header end */

/* article section start */
.back-to-previous i{
height: 30px;
width: 30px;
font-size: 15px;
padding-right: 4px;
}
.article-area strong{
font-size:14px;
}
/* article section end */

/* customer support team start */
.customer-support .top-content h1{
font-size:14px;
margin-top:0px;
}
.customer-support .top-content {
margin: 28px 0px 45px 0px;
padding-left:8px;
}
.customer-support .top-content p{
font-size:14px;
}
.customer-support .hoverd-images{
padding:0px;
}

.customer-support .list-detail{
    font-size: 14px;
    position: relative;
    left: -50px;

}
.article-area .back-to-previous{
margin-top:36px;
padding-left:0px;
}
.customer-support .outer-container img{
width:265px;
}
.customer-support .hovering-area p:last-child{
width:auto;
}
.customer-support .hovering-area p:first-child{
margin-top: 150px;
padding-left: 16px;
}
.customer-support .hovering-area p.second-paragraph{
padding-left:16px;
}
.hovering-area hr{
width:100%;
}
.customer-support .hovering-area p:last-child i{
margin-right: 9px;
margin-top: -55px;
}
.hovering-area{
width:265px!important;
height: 248px!important;
}

/* customer support team end */

/* qoutation section start */
.qoutation{
width:100%;
}
.qoutation .qoutation-inside .qoutation-inside-qoute p{
font-size:14px;
padding:0px;
letter-spacing: 1.1px;
}
.qoutation .qoutation-inside .qoutation-owner p{
font-size:13px;
}
.qoutation .qoutation-inside .bio-paragraph p{
font-size:14px;
}
.qoutation .qoutation-inside .qoutation-inside-qoute{
  padding:20px 10px 10px 10px;
}
.qoutation .qoutation-inside .qoutation-owner{
  padding-right:0px;
}

/* qoutation section end */





/* footer start */
.empty-area{
width:auto;
height:auto;
}
.subscribe-section{
width:auto;
padding-top:0px;

}
.subscribe-section .custom-container{
width:auto !important;
}
.foot-area{
width:100%;
}
.subscribe-section .section-left{
width:auto;
height:auto;
padding-bottom:45px;
margin-top:38px;
}
.subscribe-section .position-end{
width:100%;
}
.subscribe-section .subcribe-text p{
font-size:25px;
text-align: center;
padding-right:34px;
}
.subscribe-section .flexing-spans span {
font-size:20px;
text-align: center;
border-bottom:1px solid #737272;
padding:0px 0px 27px 0px;
margin-top:30px;
}
.subscribe-section .hr-line{
padding-left:32px;
}
.subscribe-section .long-paragraph-p {
padding-left: 26px;
padding-right: 26px;
}
.subscribe-section .flexing-spans span:last-child{
border-bottom:none;
}
.subscribe-section .flexing-spans span:nth-child(1){
display: none;
}
.subscribe-section .flexing-spans span:nth-child(2){
display: block;
}
.subscribe-section .flexing-spans span:nth-child(3){
display: block;
}
.subscribe-section .flexing-spans {
flex-direction:column;
padding-left:-13px;

}
.subscribe-section .subcribe-text{
padding-left:8px;
}
.subscribe-section .long-paragraph-p p{
font-size:14px;
text-align: center;
padding:4px;
}

.foot-area{
height: auto;
}
.footer-area{
display: flex;
flex-direction: column-reverse;
width:100%;
}
.footer-area .list1{

}
.footer-paragraph p{
font-size: 14px;
}
.footer-menu p{
font-size: 14px;
}
.redcolor p{
font-size: 14px;
}
.footer-menu1 .text-bold{
font-size: 14px;
}
.socialicons{
font-size: 14px;
}
.socialicon1{
font-size: 14px;
}

.footer-menu-last p{
padding: 0px;
}
.list2{
display: flex;
flex-direction: column;
padding: 0px;

}
.redcolor {
color: #fc0606;
padding-bottom: 1px;
padding-top: 10px;
}
.list2 p{
font-size: 9px;
margin-left:-3px;
}
.main-container{
padding-left:20px;
padding-right:0px;
}
.footer-area .col-sm-2{
padding-left:0px;
}
.Copyright-area .footer-menu-last .terms p{
font-size: 9px;
padding:0px 10px;
}
.Copyright-area .reserved{
padding-left: 0px;

}
.Copyright-area .footer-menu-last{
flex-direction: column;
}
.Copyright-area .footer-menu-last{
width:100%;
}
}









@media (max-width: 567px) and (min-width: 480px) { 
/* header start */
.hero-img{
width:100%;
background-size: cover;

}
.custom-container{
width: 100% !important;
}
.hero-img .logo-one img{
width: 88px;
height: 32px;
}
.hero-img .text-container h4{
font-size: 20px;
letter-spacing: 12px;
text-align: left;
width: 100%;
}
.hero-img .text-container {
padding: 0px;
margin: -29px 0px -29px 310px;
width: 0px !important;
}
.txt-area{
width: 100%;
}
.hero-img .logo-one{
margin-left: -23px;
}
.text-right1{
font-size: 50px;
margin-left: 0px;
}
.larger-text{
font-size: 20px;
margin-left: 0px;

}

/* header end */

/* article section start */
.back-to-previous i{
height: 30px;
width: 30px;
font-size: 15px;
padding-right: 4px;
}
.article-area strong{
font-size:14px;
}
/* article section end */

/* customer support team start */
.customer-support .top-content h1{
font-size:14px;
margin-top:0px;
}
.customer-support .top-content {
margin: 28px 0px 45px 0px;
padding-left:8px;
}
.customer-support .top-content p{
font-size:14px;
}
.customer-support .hoverd-images{
padding:0px;
}

.customer-support .list-detail{
font-size:14px;
position: relative;
left:-50px;
}
.article-area .back-to-previous{
margin-top:36px;
padding-left:0px;
}
.customer-support .outer-container img{
width:265px;
}
.customer-support .hovering-area p:last-child{
width:auto;
}
.customer-support .hovering-area p:first-child{
margin-top: 150px;
padding-left: 16px;
}
.customer-support .hovering-area p.second-paragraph{
padding-left:16px;
}
.hovering-area hr{
width:100%;
}
.customer-support .hovering-area p:last-child i{
margin-right: 9px;
margin-top: -55px;
}
.hovering-area{
width:265px!important;
height: 248px!important;
}

/* customer support team end */

/* qoutation section start */
.qoutation{
width:100%;
}
.qoutation .qoutation-inside .qoutation-inside-qoute p{
font-size:14px;
padding:0px;
letter-spacing: 1.1px;
}
.qoutation .qoutation-inside .qoutation-owner p{
font-size:13px;
}
.qoutation .qoutation-inside .bio-paragraph p{
font-size:14px;
}
.qoutation .qoutation-inside .qoutation-inside-qoute{
  padding:20px 10px 10px 10px;
}
.qoutation .qoutation-inside .qoutation-owner{
  padding-right:0px;
}

/* qoutation section end */





/* footer start */
.empty-area{
width:auto;
height:auto;
}
.subscribe-section{
width:auto;
padding-top:0px;

}
.subscribe-section .custom-container{
width:auto !important;
}
.foot-area{
width:100%;
}
.subscribe-section .section-left{
width:auto;
height:auto;
padding-bottom:45px;
margin-top:38px;
}
.subscribe-section .position-end{
width:100%;
}
.subscribe-section .subcribe-text p{
font-size:25px;
text-align: center;
padding-right:34px;
}
.subscribe-section .flexing-spans span {
font-size:20px;
text-align: center;
border-bottom:1px solid #737272;
padding:0px 0px 27px 0px;
margin-top:30px;
}
.subscribe-section .hr-line{
padding-left:32px;
}
.subscribe-section .long-paragraph-p {
padding-left: 26px;
padding-right: 26px;
}
.subscribe-section .flexing-spans span:last-child{
border-bottom:none;
}
.subscribe-section .flexing-spans span:nth-child(1){
display: none;
}
.subscribe-section .flexing-spans span:nth-child(2){
display: block;
}
.subscribe-section .flexing-spans span:nth-child(3){
display: block;
}
.subscribe-section .flexing-spans {
flex-direction:column;
padding-left:-13px;

}
.subscribe-section .subcribe-text{
padding-left:8px;
}
.subscribe-section .long-paragraph-p p{
font-size:14px;
text-align: center;
padding:4px;
}

.foot-area{
height: auto;
}
.footer-area{
display: flex;
flex-direction: column-reverse;
width:100%;
}
.footer-area .list1{

}
.footer-paragraph p{
font-size: 14px;
}
.footer-menu p{
font-size: 14px;
}
.redcolor p{
font-size: 14px;
}
.footer-menu1 .text-bold{
font-size: 14px;
}
.socialicons{
font-size: 14px;
}
.socialicon1{
font-size: 14px;
}

.footer-menu-last p{
padding: 0px;
}
.list2{
display: flex;
flex-direction: column;
padding: 0px;

}
.redcolor {
color: #fc0606;
padding-bottom: 1px;
padding-top: 10px;
}
.list2 p{
font-size: 9px;
margin-left:-3px;
}
.main-container{
padding-left:20px;
padding-right:0px;
}
.footer-area .col-sm-2{
padding-left:0px;
}
.Copyright-area .footer-menu-last .terms p{
font-size: 9px;
padding:0px 10px;
}
.Copyright-area .reserved{
padding-left: 0px;

}
.Copyright-area .footer-menu-last{
flex-direction: column;
}
.Copyright-area .footer-menu-last{
width:100%;
}
}




@media (max-width: 767px) and (min-width: 685px) { 
/* header start */
.hero-img{
width:100%;
background-size: cover;
}
.custom-container{
width: 100% !important;
}
.hero-img .logo-one img{
width: 88px;
height: 32px;
}
.hero-img .text-container h4{
font-size: 20px;
letter-spacing: 12px;
text-align: left;
width: 100%;
}
.hero-img .text-container {
padding: 0px;
margin: -29px 0px -29px 518px;
width: 0px !important;
}
.txt-area{
width: 100%;
}
.hero-img .logo-one{
margin-left: -23px;
}
.text-right1{
font-size: 50px;
margin-left: 0px;
}
.larger-text{
font-size: 20px;
margin-left: 0px;

}

/* header end */

/* article section start */
.back-to-previous i{
height: 30px;
width: 30px;
font-size: 15px;
padding-right: 4px;
}
.article-area strong{
font-size:14px;
}
/* article section end */

/* customer support team start */
.customer-support .top-content h1{
font-size:14px;
margin-top:0px;
}
.customer-support .top-content {
margin: 28px 0px 45px 0px;
padding-left:8px;
}
.customer-support .top-content p{
font-size:14px;
}
.customer-support .hoverd-images{
padding:0px;
}

.customer-support .list-detail{
font-size:14px;
position: relative;
left:-50px;

}
.article-area .back-to-previous{
margin-top:36px;
padding-left:0px;
}
.customer-support .outer-container img{
width:265px;
}
.customer-support .hovering-area p:last-child{
width:auto;
}
.customer-support .hovering-area p:first-child{
margin-top: 150px;
padding-left: 16px;
}
.customer-support .hovering-area p.second-paragraph{
padding-left:16px;
}
.hovering-area hr{
width:100%;
}
.customer-support .hovering-area p:last-child i{
margin-right: 9px;
margin-top: -55px;
}
.hovering-area{
width:265px!important;
height: 248px!important;
}

/* customer support team end */

/* qoutation section start */
.qoutation{
width:100%;
}
.qoutation .qoutation-inside .qoutation-inside-qoute p{
font-size:14px;
padding:0px;
letter-spacing: 1.1px;
}
.qoutation .qoutation-inside .qoutation-owner p{
font-size:13px;
}
.qoutation .qoutation-inside .bio-paragraph p{
font-size:14px;
}
.qoutation .qoutation-inside .qoutation-inside-qoute{
  padding:20px 10px 10px 10px;
}
.qoutation .qoutation-inside .qoutation-owner{
  padding-right:0px;
}

/* qoutation section end */





/* footer start */
.empty-area{
width:auto;
height:auto;
}
.subscribe-section{
width:auto;
padding-top:0px;

}
.subscribe-section .custom-container{
width:auto !important;
}
.foot-area{
width:100%;
}
.subscribe-section .section-left{
width:auto;
height:auto;
padding-bottom:45px;
margin-top:38px;
}
.subscribe-section .position-end{
width:100%;
}
.subscribe-section .subcribe-text p{
font-size:25px;
text-align: center;
padding-right:34px;
}
.subscribe-section .flexing-spans span {
font-size:20px;
text-align: center;
border-bottom:1px solid #737272;
padding:0px 0px 27px 0px;
margin-top:30px;
}
.subscribe-section .hr-line{
padding-left:32px;
}
.subscribe-section .long-paragraph-p {
padding-left: 26px;
padding-right: 26px;
}
.subscribe-section .flexing-spans span:last-child{
border-bottom:none;
}
.subscribe-section .flexing-spans span:nth-child(1){
display: none;
}
.subscribe-section .flexing-spans span:nth-child(2){
display: block;
}
.subscribe-section .flexing-spans span:nth-child(3){
display: block;
}
.subscribe-section .flexing-spans {
flex-direction:column;
padding-left:-13px;

}
.subscribe-section .subcribe-text{
padding-left:8px;
}
.subscribe-section .long-paragraph-p p{
font-size:14px;
text-align: center;
padding:4px;
}

.foot-area{
height: auto;
}
.footer-area{
display: flex;
flex-direction: column-reverse;
width:100%;
}
.footer-area .list1{

}
.footer-paragraph p{
font-size: 14px;
}
.footer-menu p{
font-size: 14px;
}
.redcolor p{
font-size: 14px;
}
.footer-menu1 .text-bold{
font-size: 14px;
}
.socialicons{
font-size: 14px;
}
.socialicon1{
font-size: 14px;
}

.footer-menu-last p{
padding: 0px;
}
.list2{
display: flex;
flex-direction: column;
padding: 0px;

}
.redcolor {
color: #fc0606;
padding-bottom: 1px;
padding-top: 10px;
}
.list2 p{
font-size: 9px;
margin-left:-3px;
}
.main-container{
padding-left:20px;
padding-right:0px;
}
.footer-area .col-sm-2{
padding-left:0px;
}
.Copyright-area .footer-menu-last .terms p{
font-size: 9px;
padding:0px 10px;
}
.Copyright-area .reserved{
padding-left: 0px;

}
.Copyright-area .footer-menu-last{
flex-direction: column;
}
.Copyright-area .footer-menu-last{
width:100%;
}
}





@media (max-width: 684px) and (min-width: 568px) { 
/* header start */
.hero-img{
width:100%;
background-size: cover;
}
.custom-container{
width: 100% !important;
}
.hero-img .logo-one img{
width: 88px;
height: 32px;
}
.hero-img .text-container h4{
font-size: 20px;
letter-spacing: 12px;
text-align: left;
width: 100%;
}
.hero-img .text-container {
padding: 0px;
margin: -29px 0px -29px 433px;
width: 0px !important;
}
.txt-area{
width: 100%;
}
.hero-img .logo-one{
margin-left: -23px;
}
.text-right1{
font-size: 50px;
margin-left: 0px;
}
.larger-text{
font-size: 20px;
margin-left: 0px;

}

/* header end */

/* article section start */
.back-to-previous i{
height: 30px;
width: 30px;
font-size: 15px;
padding-right: 4px;
}
.article-area strong{
font-size:14px;
}
/* article section end */

/* customer support team start */
.customer-support .top-content h1{
font-size:14px;
margin-top:0px;
}
.customer-support .top-content {
margin: 28px 0px 45px 0px;
padding-left:8px;
}
.customer-support .top-content p{
font-size:14px;
}
.customer-support .hoverd-images{
padding:0px;
}

.customer-support .list-detail{
    font-size: 14px;
    position: relative;
    left: -50px;
}
.article-area .back-to-previous{
margin-top:36px;
padding-left:0px;
}
.customer-support .outer-container img{
width:265px;
}
.customer-support .hovering-area p:last-child{
width:auto;
}
.customer-support .hovering-area p:first-child{
margin-top: 150px;
padding-left: 16px;
}
.customer-support .hovering-area p.second-paragraph{
padding-left:16px;
}
.hovering-area hr{
width:100%;
}
.customer-support .hovering-area p:last-child i{
margin-right: 9px;
margin-top: -55px;
}
.hovering-area{
width:265px!important;
height: 248px!important;
}

/* customer support team end */

/* qoutation section start */
.qoutation{
width:100%;
}
.qoutation .qoutation-inside .qoutation-inside-qoute p{
font-size:14px;
padding:0px;
letter-spacing: 1.1px;
}
.qoutation .qoutation-inside .qoutation-owner p{
font-size:13px;
}
.qoutation .qoutation-inside .bio-paragraph p{
font-size:14px;
}
.qoutation .qoutation-inside .qoutation-inside-qoute{
  padding:20px 10px 10px 10px;
}
.qoutation .qoutation-inside .qoutation-owner{
  padding-right:0px;
}

/* qoutation section end */





/* footer start */
.empty-area{
width:auto;
height:auto;
}
.subscribe-section{
width:auto;
padding-top:0px;

}
.subscribe-section .custom-container{
width:auto !important;
}
.foot-area{
width:100%;
}
.subscribe-section .section-left{
width:auto;
height:auto;
padding-bottom:45px;
margin-top:38px;
}
.subscribe-section .position-end{
width:100%;
}
.subscribe-section .subcribe-text p{
font-size:25px;
text-align: center;
padding-right:34px;
}
.subscribe-section .flexing-spans span {
font-size:20px;
text-align: center;
border-bottom:1px solid #737272;
padding:0px 0px 27px 0px;
margin-top:30px;
}
.subscribe-section .hr-line{
padding-left:32px;
}
.subscribe-section .long-paragraph-p {
padding-left: 26px;
padding-right: 26px;
}
.subscribe-section .flexing-spans span:last-child{
border-bottom:none;
}
.subscribe-section .flexing-spans span:nth-child(1){
display: none;
}
.subscribe-section .flexing-spans span:nth-child(2){
display: block;
}
.subscribe-section .flexing-spans span:nth-child(3){
display: block;
}
.subscribe-section .flexing-spans {
flex-direction:column;
padding-left:-13px;

}
.subscribe-section .subcribe-text{
padding-left:8px;
}
.subscribe-section .long-paragraph-p p{
font-size:14px;
text-align: center;
padding:4px;
}

.foot-area{
height: auto;
}
.footer-area{
display: flex;
flex-direction: column-reverse;
width:100%;
}
.footer-area .list1{

}
.footer-paragraph p{
font-size: 14px;
}
.footer-menu p{
font-size: 14px;
}
.redcolor p{
font-size: 14px;
}
.footer-menu1 .text-bold{
font-size: 14px;
}
.socialicons{
font-size: 14px;
}
.socialicon1{
font-size: 14px;
}

.footer-menu-last p{
padding: 0px;
}
.list2{
display: flex;
flex-direction: column;
padding: 0px;

}
.redcolor {
color: #fc0606;
padding-bottom: 1px;
padding-top: 10px;
}
.list2 p{
font-size: 9px;
margin-left:-3px;
}
.main-container{
padding-left:20px;
padding-right:0px;
}
.footer-area .col-sm-2{
padding-left:0px;
}
.Copyright-area .footer-menu-last .terms p{
font-size: 9px;
padding:0px 10px;
}
.Copyright-area .reserved{
padding-left: 0px;

}
.Copyright-area .footer-menu-last{
flex-direction: column;
}
.Copyright-area .footer-menu-last{
width:100%;
}
}








@media (max-width: 991px) and (min-width: 768px) {
/* header start */
.hero-img{
width:100%;
background-size: cover;
}
.custom-container{
width: 100% !important;
}
.hero-img .logo-one img{
width: 88px;
height: 32px;
}
.hero-img .text-container h4{
font-size: 20px;
letter-spacing: 12px;
text-align: left;
width: 100%;
}
.hero-img .text-container {
padding: 0px;
margin: 5px 0px -29px 515px;
width: 0px !important;
}
.txt-area{
width: 100%;
}
.hero-img .logo-one{
margin-left: -23px;
}
.text-right1{
font-size: 50px;
margin-left: 0px;
}
.larger-text{
font-size: 20px;
margin-left: 0px;

}

/* header end */

/* article section start */
.back-to-previous i{
height: 30px;
width: 30px;
font-size: 15px;
padding-right: 4px;
}
.article-area strong{
font-size:14px;
}
/* article section end */

/* customer support team start */
.customer-support .top-content h1{
font-size:14px;
margin-top:0px;
}
.customer-support .top-content {
margin: 28px 0px 45px 0px;
padding-left:8px;
}
.customer-support .top-content p{
font-size:14px;
}
.customer-support .hoverd-images{
  padding-left:1px;
}

.customer-support .list-detail{
    font-size: 14px;
    position: relative;
    left: -50px;
}
.article-area .back-to-previous{
margin-top:36px;
padding-left:0px;
font-size:14px;
}
.customer-support .outer-container img{
width:214px;
}
.customer-support .hovering-area p:last-child{
width:auto;
}
.customer-support .hovering-area p:first-child{
margin-top: 135px;
padding-left: 16px;
font-size:14px;
margin-bottom:0px;
width:100%;
}
.customer-support .hovering-area p.second-paragraph{
padding-left:16px;
width:100%;
}
.hovering-area hr{
width:100%;
margin-top: 0px!important;
margin-bottom: 0px!important;
}
.customer-support .hovering-area p:last-child i{
margin-right: 9px;
margin-top: -55px;
}
.hovering-area{
    width: 214px!important;
    height: 200px!important;
}
.customer-support .hoverd-images{
  padding-bottom: 50px;
}
/* customer support team end */

/* qoutation section start */
.qoutation{
width:100%;
}
.qoutation .qoutation-inside .qoutation-inside-qoute p{
font-size:14px;
padding:0px;
letter-spacing: 1.1px;
}
.qoutation .qoutation-inside .qoutation-owner p{
font-size:13px;
}
.qoutation .qoutation-inside .bio-paragraph p{
font-size:14px;
}
.qoutation .qoutation-inside .qoutation-inside-qoute{
  padding:20px 10px 10px 10px;
}
.qoutation .qoutation-inside .qoutation-owner{
  padding-right:0px;
}

/* qoutation section end */





/* footer area */
.empty-area{
width:100%;
}
.footer-paragraph p{
  padding-right:0px;
  line-height: 10.15px;
}
.subscribe-section{
padding-top:63px;
}
.subscribe-section .position-end{
width: 100%;
}
.subscribe-section .long-paragraph-p{
padding-left:0px;
padding-right:38px;
}
.subscribe-section .hr-line{
padding-left:0px;
}
.footer-menu p{
  line-height: 10.15px;
}
.long-paragraph-p{
left: 360px;
}
.hr-line{
left: 360px;
}
.foot-area{
width: 100%;
}
.footer-area{
width: 100%;
}
}


@media (max-width: 1024px) and (min-width: 768px) {
/* header start */
.hero-img{
width:100%;
background-size: cover;
}
.custom-container{
width: 100% !important;
}
.hero-img .logo-one img{
width: 88px;
height: 32px;
}
.hero-img .text-container h4{
font-size: 20px;
letter-spacing: 12px;
text-align: left;
width: 100%;
}
.hero-img .text-container {
padding: 0px;
margin: 5px 0px -29px 515px;
width: 0px !important;
}
.txt-area{
width: 100%;
}
.hero-img .logo-one{
margin-left: -23px;
}
.text-right1{
font-size: 50px;
margin-left: 0px;
}
.larger-text{
font-size: 20px;
margin-left: 0px;

}

/* header end */

/* article section start */
.back-to-previous i{
height: 30px;
width: 30px;
font-size: 15px;
padding-right: 4px;
}
.article-area strong{
font-size:14px;
}
/* article section end */

/* customer support team start */
.customer-support .top-content h1{
font-size:14px;
margin-top:0px;
}
.customer-support .top-content {
margin: 28px 0px 45px 0px;
padding-left:8px;
}
.customer-support .top-content p{
font-size:14px;
}
.customer-support .hoverd-images{
  padding-left:1px;
}

.customer-support .list-detail{
font-size:14px;
position: relative;
left:-50px;
}
.article-area .back-to-previous{
margin-top:36px;
padding-left:0px;
font-size:14px;
}
.customer-support .outer-container img{
width:214px;
}
.customer-support .hovering-area p:last-child{
width:auto;
}
.customer-support .hovering-area p:first-child{
margin-top: 135px;
padding-left: 16px;
font-size:14px;
margin-bottom:0px;
width:100%;
}
.customer-support .hovering-area p.second-paragraph{
padding-left:16px;
width:100%;
}
.hovering-area hr{
width:100%;
margin-top: 0px!important;
margin-bottom: 0px!important;
}
.customer-support .hovering-area p:last-child i{
margin-right: 9px;
margin-top: -55px;
}
.hovering-area{
    width: 214px!important;
    height: 200px!important;
}
.customer-support .hoverd-images{
  padding-bottom: 50px;
}
/* customer support team end */

/* qoutation section start */
.qoutation{
width:100%;
}
.qoutation .qoutation-inside .qoutation-inside-qoute p{
font-size:14px;
padding:0px;
letter-spacing: 1.1px;
}
.qoutation .qoutation-inside .qoutation-owner p{
font-size:13px;
}
.qoutation .qoutation-inside .bio-paragraph p{
font-size:14px;
padding:20px;
}
.qoutation .qoutation-inside .qoutation-inside-qoute{
  padding:20px 10px 10px 10px;
}
.qoutation .qoutation-inside .qoutation-owner{
  padding-right:0px;
}

/* qoutation section end */





/* footer area */
.empty-area{
width:100%;
}
.footer-paragraph p{
  padding-right:0px;
  line-height: 10.15px;
}
.subscribe-section{
padding-top:63px;
}
.subscribe-section .position-end{
width: 100%;
}
.subscribe-section .long-paragraph-p{
margin-left:0px;
padding-right:38px;
}
.subscribe-section .hr-line{
margin-left:0px;
}
.footer-menu p{
  line-height: 10.15px;
}
.long-paragraph-p{
left: 360px;
}
.hr-line{
left: 360px;
}
.foot-area{
width: 100%;
}
.footer-area{
width: 100%;
}
}



@media (max-width: 1199px) and (min-width: 1024px)  {
/* header start */
.hero-img{
width:100%;
background-size: cover;
}
.custom-container{
width: 100% !important;
}
.hero-img .logo-one img{
width: 88px;
height: 32px;
}
.hero-img .text-container h4{
font-size: 20px;
letter-spacing: 12px;
text-align: left;
width: 100%;
}
.hero-img .text-container {
padding: 0px;
margin: 5px 0px -29px 693px;
width: 0px !important;
}
.txt-area{
width: 100%;
}
.hero-img .logo-one{
margin-left: -23px;
}
.text-right1{
font-size: 50px;
margin-left: 0px;
}
.larger-text{
font-size: 20px;
margin-left: 0px;

}

/* header end */

/* article section start */
.back-to-previous i{
height: 30px;
width: 30px;
font-size: 15px;
padding-right: 4px;
}
.article-area strong{
font-size:14px;
}
/* article section end */

/* customer support team start */
.customer-support .top-content h1{
font-size:14px;
margin-top:0px;
}
.customer-support .top-content {
margin: 28px 0px 45px 0px;
padding-left:8px;
}
.customer-support .top-content p{
font-size:14px;
}
.customer-support .hoverd-images{
  padding-left:1px;
}

.customer-support .list-detail{
font-size:14px;
position: relative;
left:-50px;
}
.article-area .back-to-previous{
margin-top:36px;
padding-left:0px;
font-size:14px;
}
.customer-support .outer-container img{
width:300px;
}
.customer-support .hovering-area p:last-child{
width:auto;
}
.customer-support .hovering-area p:first-child{
margin-top: 208px;
padding-left: 16px;
font-size:14px;
margin-bottom:0px;
width:100%;
}
.customer-support .hovering-area p.second-paragraph{
padding-left:16px;
width:100%;
}
.hovering-area hr{
width:100%;
margin-top: 0px!important;
margin-bottom: 0px!important;
}
.customer-support .hovering-area p:last-child i{
margin-right: 9px;
margin-top: -55px;
}
.hovering-area{
        width: 300px!important;
    height: 282px!important;
}
.customer-support .hoverd-images{
  padding-bottom: 50px;
}
/* customer support team end */

/* qoutation section start */
.qoutation{
width:100%;
}
.qoutation .qoutation-inside .qoutation-inside-qoute p{
font-size:40px;
padding:20px;
letter-spacing: 1.1px;
}
.qoutation .qoutation-inside .qoutation-owner p{
font-size:40px;
padding-right:20px;
}
.qoutation .qoutation-inside .bio-paragraph p{
font-size:24px;
}
.qoutation .qoutation-inside .qoutation-inside-qoute{
  padding:20px 10px 10px 10px;
}
.qoutation .qoutation-inside .qoutation-owner{
  padding-right:0px;
}

/* qoutation section end */





/* footer area */
.empty-area{
width:100%;
}
.footer-paragraph p{
  padding-right:0px;
  line-height: 10.15px;
}
.subscribe-section{
padding-top:63px;
}
.subscribe-section .position-end{
width: 100%;
}
.subscribe-section .long-paragraph-p{
margin-left:0px;
padding-right:38px;
}
.subscribe-section .hr-line{
margin-left:0px;
}
.footer-menu p{
  line-height: 10.15px;
}
.long-paragraph-p{
left: 360px;
}
.hr-line{
left: 360px;
}
.foot-area{
width: 100%;
}
.footer-area{
width: 100%;
}
}



